---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<ul class="intro">
		<li><div>it's time to enjoy<br /> react that rocks and</div></li>
		<li><div>spring in amsterdam <br /> that blossoms!</div></li>
		<li><div>let's celebrate <br /> the fresh start</div></li>
		<li><div>of the conference <br /> together</div></li>
		<li><div>tweet with<br /><strong>#reactamsterdam</strong></div></li>
		<li><div>and add your<br /> drop to the ocean</div></li>
		<li><div>of open source</div></li>
	</ul>

	<div class="twitter">
		whatever
	</div>

	<div id="container"></div>

{% endblock %}
